.navbar{
    position: fixed;
    top: 0;
    height: 6rem;
    width: 100vw;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    z-index: 1000;
}

.desktopMenu{
    margin-left: 38rem;
    margin-top: 1rem;
}

.menu {
    display: none;
  }
  
  .open {
    display: block;
  }

  .hamburger {
    margin-top: 0.5rem;
    display: block;
    cursor: pointer;
    margin-right: 1.4rem;
    color: blueviolet;
  }
  
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: sans-serif;
    justify-content: space-between;
}

.name{
    color: black;
    font-weight: bolder;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    margin-left: 0.8rem;
}

.desktopMenuListItem:hover{
    color:blueviolet;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid blueviolet ;
}

@media (max-width:768px) {
  .desktopMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100vw;
    height: 50%;
    background: lightslategray;
    padding: 8rem 0 8rem 1rem;
    z-index: 999;
    animation: slideInTop 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.desktopMenuListItem{
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: sans-serif;
}

.name{
  font-size: 1.3rem;
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

}
